# General
.DS_Store

# vs code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# env files
# オープン、且つ、テンプレートプロジェクトのため、.envファイルはgitに含めない
.env
.env*.local
.env.development
.env.production

# dependencies
/node_modules
